.App {
  width: 550px;
  height: 550px;
}
.Header {
  width: auto;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
}
.troll {
  width: 31.31px;
  height: 26.22px;
  margin-left: 20px;
  margin-top: 0px;
}
.title {
  margin-left: 9px;
  margin-top: 18px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  margin-right: auto;
  letter-spacing: -0.1em;
  color: #ffffff;
}
.sub-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 37px;
  margin-top: 22px;
}
